@CHARSET "ISO-8859-1";
html{/**/
	height:120%;
    background-position: 0% 100%;
    background-attachment: fixed;
	background: url("../img/bg.png")no-repeat left bottom;
}
.infomenu{
	display:inline;
}
a{
	text-decoration: none;
}
#divider{
	position:absolute;
	height:20px;
	width:97%;
	margin-top:108px;
	z-index:-1;
	margin-left:10px;
}
#ab{
	font-size:18px;
	color:#5e9ccf;
	font-family:Georgia;
	margin-top:80px;
	margin-left:1110px;
	position:absolute;
}
#ab:hover{
	color:#df7309;
}
#co:hover{
	color:#df7309;
}
#co{
	font-size:18px;
	color:#5e9ccf;
	font-family:Georgia;
	margin-top:80px;
	margin-left:1180px;
	position:absolute;
}
#ho{
	font-size:18px;
	color:#5e9ccf;
	font-family:Georgia;
	margin-top:80px;
	margin-left:1030px;
	position:absolute;
}
h1{font-family:Georgia; color:#5e9ccf}
h3{font-family:Georgia; color:#5e9ccf}
.title{
	position:absolute;
	display:inline;
}
div img{
	height:110px;
	width:160px;
}
div h3{
	margin-left:190px;
	margin-top:80px;
}
div h1{
	margin-left:190px;
	margin-top:40px;
}
#logo{
	margin-left:20px;
}
#x:hover{
	opacity:0;
}
#dontxt{
	margin-top:150px;
	margin-left:60px;
	font-size:35px;
	position:absolute;
}
#inputform{
	margin-top:220px;
	margin-left:100px;
	position:absolute;
	background-color:#fafafa;
	box-shadow:0 0 10px inset;
	padding:30px 30px 30px 30px;
}
#but{
	margin-left:920px;
	border:solid #df7309 2px;
	height:30px;
	width:80px;
	margin-top:600px;
	position:absolute;
}

.text{
	position:relative;
	font-size:15px;
	font-family:Georgia;
	margin:auto;
	padding:10px;
}
table, th, td {
    border: 2px solid #df7309;
    border-collapse: collapse;
}
table{
	position:absolute;
	margin-top:220px;
	margin-left:90px;
}
#s tr td{
	padding:40px;
}
.pl{
	margin-top:-40px;
	height:80px;
	width:80px;
	transition:.2s;
	position:absolute;
}
tr td a:hover img{
	width:100px;
	height:100px;
	position:absolute;
	margin-top:-50px;
	margin-left:-10px;
	z-index:2;
}
#info{
	position:absolute;
	margin-left:700px;
}
#info td{
	font-size:20px;
	padding: 0px 45px 0px 45px;
}
#info #xx td{
	padding: 30px 45px 20px 45px;
}
#orginf{
	position: absolute;
	height:300px;
	width:600px;
	margin-left:700px;
	margin-top:235px;
}

#hd{
	margin-top:90px;
	margin-left:210px;
}
#qty{
	font-size:18px;
	margin-top:600px;
	margin-left:710px;
	position:absolute;
	font-size:20px;
	color:#df7309;
	font-family:Georgia;
}
#qty input{
	width:100px;
}
#inst{
	margin-top:192px;
	margin-left:80px;
	font-size:20px;
	position:absolute;
	color:#df7309;
}
#q p{
	font-family:Georgia;
	font-size:12px;
	margin-top:-21px;
	margin-left:18px;
}
#q img{
	height:14px;
	width:14px;
}
#q{
	position:absolute;
	margin-top:30px;
	margin-left:-105px;
}
#mtitle{font-size:31px;}
#logi{margin-left:14px;}
#title{margin-top:70px;)